$color-crocs1: #bf4756;
$color-crocs2: #cc6444;
$color-crocs3: #eedfbb;
$color-crocs4: #a9ba63;
$color-crocs5: #49c3d4;
$color-crocs6: #0462a3;
$color-crocs7: #a3aad4;
$color-crocs8: #231f20;
$color-crocs9: #f49aa6;
$color-crocs10: #ffc9bd;
$color-crocs11: #f9f5ed;
$color-crocs12: #ecf2cc;
$color-crocs13: #bee2e5;
$color-crocs14: #ba1c37;
$color-crocs15: #d13d24;
$color-crocs16: #8e7a6c;
$color-crocs17: #90937f;
$color-crocs18: #619648;
$color-crocs19: #126973;
$color-crocs20: #77b2a3;
$color-crocs21: #032b36;
$color-crocs22: #56558e;
